@import "../style/typography.scss";
@import "../style/theme.scss";

@mixin image-view($theme) {
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $grid-length: 100%;
  $grid-background: #333;

  .img {
    user-select: none;

    &-box {
      width: $grid-length;
      height: $grid-length;
      background-color: $grid-background;
      display: grid;
      grid-template-columns: calc(#{$grid-length} / 2) calc(#{$grid-length} / 2);
      grid-row: auto auto;
      align-items: center;
      justify-items: center;

      &:hover {
        cursor: pointer;
      }

      &-cell {
        background-color: $grid-background;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        overflow: hidden;
        height: 100%;
        width: 100%;
      }
    }
  }
}
