@import '../tab.base.scss';

.geo {
    &-container {
        min-height: $container-box-min-heigth;
    }

    &-line {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &-icon {
        color: $base-color;
    }
}
