@import "../../../../core/style/typography.scss";

@include bc-typography();

.geo {
    &-line {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &-icon {
        color: $base-color;
    }
}
