<div class="geo-line-content" *ngIf="checkProperty('locality') || checkProperty('valley') || checkProperty('massif')" class="geo-multiline">
    <span class="geo-line-content" *ngIf="checkProperty('locality')">
        In località {{getPropertyUnformatted('locality') | titlecase}}
    </span>
    <span class="geo-line-content">
        {{getPropertyPreformatted(', ','massif') | titlecase}}
    </span>
    <span class="geo-line-content">
        {{getPropertyPreformatted(', ','valley')| titlecase}}
    </span>
</div>
<div *ngIf="checkProperty('ski_area') || checkProperty('protected_area')" class="geo-multiline">
    In area:
    <span>{{getPropertyUnformatted('protected_area') | titlecase}}</span>
    <span *ngIf="checkProperty('ski_area') && checkProperty('protected_area')">, nel </span>
    <span>{{getPropertyUnformatted('ski_area') | titlecase}}</span>
</div>
<div *ngIf="checkProperty('site')" class="geo-multiline">
    {{getPropertyUnformatted('site')}}
</div>