<div *ngIf="getOwner(); let owner">
    <div *ngIf="checkSubjectProperty(owner,'name')" class="prop-line">
        <bc-icon class="dot prop-icon" name="circle"></bc-icon>
        Ente: {{ owner.name || "---" }}
    </div>
    <div *ngIf="checkSubjectProperty(owner,'fixedPhone')" class="prop-line">
        <bc-icon class="dot prop-icon" name="circle"></bc-icon>
        Telefono: {{ owner.fixedPhone || "---" }}
    </div>
    <div *ngIf="checkSubjectProperty(owner,'email')"  class="prop-line">
        <bc-icon class="dot prop-icon" name="circle"></bc-icon>
        Mail: {{ owner.email || "---" }}
    </div>
    <div *ngIf="checkSubjectProperty(owner,'webSite')"  class="prop-line">
        <bc-icon class="dot prop-icon" name="circle"></bc-icon>
        Sito Web: {{ owner.webSite || "---" }}
    </div>
    <div class="prop-divider">
        <app-divider></app-divider>
    </div>
</div>
<div>
    <div *ngIf="checkCatastalProp('buildYear')" class="prop-line">
        <bc-icon class="dot prop-icon" name="circle"></bc-icon>
        Anno di costruzione: {{ getCatastalProp('buildYear') }}
    </div>
</div>