@import '../tab.base.scss';

.prop {
    &-line {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &-icon {
        color: $base-color;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    &-divider {
        margin-left: 2%;
        margin-right: 8%;
        padding-top: 0.3vh;
        padding-bottom: 0.3vh;
    }

    &-container {
        margin: $container-margin;
        margin-left: $container-margin-left;
        min-height: $container-box-min-heigth;
        display: block;
        width: 50%;
    }
}