<div (click)="closeImage()" class="img-full-container" *ngIf="enabled">
  <div *ngIf="toggleCloseButton" (click)="closeImage($event)" class="img-full-control img-full-control-close">
    <bc-icon data-name="times" data-size="xl"></bc-icon>
  </div>
  <div (click)="previousImage($event)" class="img-full-control img-full-control-left">
    <bc-icon data-name="arrow-left" data-size="xl"></bc-icon>
  </div>
  <img (click)="imgClick($event)" class="img-full-view" [src]="getFullViewImageSrc()" />
  <div (click)="nextImage($event)" class="img-full-control img-full-control-right">
    <bc-icon data-name="arrow-right" data-size="xl"></bc-icon>
  </div>
</div>