<bc-content>
    <bc-content-header>
        <app-navbar>
            <img style="height: 32px" src="../assets/images/logo_32x28.png" alt="logo" />
            <span>
                <h4>Infomont</h4>
            </span>
        </app-navbar>
    </bc-content-header>
    <bc-content-section class="top">
        <div class="top-container">
            <div class="top-content top-content-data">
                <div style="white-space: nowrap" class="bc-h5 shel-name">
                    {{ getHeaderProperty("name") }}
                </div>
                <div class="bc-h6 shel-subname top-content-data-line">
                    <bc-icon class="shel-icon" data-name="map-marker-alt"></bc-icon>
                    {{ getLocationProperty("locality") | titlecase }}
                </div>
                <div class="bc-h6">
                    <div class="top-content-data-line">
                        ({{getLocationProperty("longitude") || '-'}}; {{getLocationProperty("latitude") || '-'}};
                        {{getLocationPropertyFormatted("altitude", "m")}})
                    </div>
                    <div class="top-content-data-line">
                        Sezione {{ getHeaderProperty("owner") }}
                    </div>
                    <div class="top-content-data-line">
                        {{ getHeaderProperty("type") }}
                    </div>
                    <div class="top-content-data-line">
                        Categoria: {{ getHeaderProperty("category") || "-" }}
                    </div>
                    <div class="top-content-data-line">
                        Stato: {{ getHeaderProperty("status") || "-" }}
                    </div>
                </div>
                <div class="bc-h6 top-content-data-multiline">
                    {{ getLocationProperty("site") }}
                </div>
            </div>
            <div class="top-content top-content-images">
                <app-images class="top-content-images-content"></app-images>
            </div>
        </div>
        <app-tabs-base class="bottom-container">
            <app-tab-item (selectionChange)="updateSection($event)" *ngFor="let tab of TABS" [content]="tab"></app-tab-item>

            <template #dynItemView></template>
        </app-tabs-base>
    </bc-content-section>
    <bc-content-footer>
        <app-navbar>
            <span style="font-size: 12px; line-height: 12px; font-weight: 400">
                Copyright © 2018 all rights reserved.
            </span>
        </app-navbar>
    </bc-content-footer>
</bc-content>