
@mixin tab-item($theme) {
    .tab-item-header {
        $foreground: map-get($theme, foreground);

        font-size:20px;
        padding-right: 2%;
        border: 1px solid bc-color($foreground, hint-text);
        border-bottom: 1px solid transparent;
        border-radius: 1px 15px 1px 1px;
        margin: 0;
        user-select: none;

        &:hover{
            color: bc-color($accent);
            cursor: pointer;
        }
    }

    .active{
        color: bc-color($accent);
    }
}