$base-header-color: #06293f;
$navbar-height: 36px;
.app-navbar {
  width: 100%;
  min-height: $navbar-height;
  color: white;
  &-content {
    align-items: center;
    background-color: $base-header-color;
    display: flex;
    flex-direction: row;
    padding: 2px 0 2px 2px;
  }
}
