@import '../../../../core/style/typography.scss';

.service-container {
    display: flex;

    &-column {
        width: 50%;
    }

    &-divider {
        margin-left: 8%;
        margin-right: 8%;
    }
}

.serv-icon {
    color: $base-color;
}
