<div *ngFor="let column of getColumnsRange()" class="service-container-column">
    <div *ngFor="let service of getServicesBatch(column)">
        <div *ngIf="checkTags(service)">
            <div *ngFor="let tag of getServiceTags(service)">
                <div *ngIf="getTagMetadata(service, tag); let tagMetadata">
                    <span *ngIf="tagMetadata.icon">
                        <bc-icon class="serv-icon" [name]="tagMetadata.icon || 'circle'" size="xs" [appUncheck]="!checkTagValue(tagMetadata, tag)"></bc-icon>
                    </span>
                    <span *ngIf="!tagMetadata.icon">
                        <bc-icon class="dot" name="circle"></bc-icon>
                    </span>
                    {{ tag.key | usertitlecase }}
                    {{ getTagValue(tagMetadata, tag) | usertitlecase }}
                </div>
            </div>
            <div class="service-container-divider">
                <app-divider></app-divider>
            </div>
        </div>
    </div>
</div>