@import '../../../../core/style/typography.scss';
@import '../tab.base.scss';

.service-container {
    margin: $container-margin;
    display: flex;
    min-height: $container-box-min-heigth;
    &-column {
        width: 50%;
    }

    &-divider {
        margin-left: 8%;
        margin-right: 8%;
    }
}

.serv-icon {
    color: $base-color;
}
