@import '../tab.base.scss';

.opening {
    &-container {
        min-height: $container-box-min-heigth;
        display: block;
    }

    &-line {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &-icon {
        color: $base-color; 
    }
}
