<div class="img-full-container" *ngIf="enabled">
  <div (click)="closeImage()" class="img-full-control img-full-control-close">
    <bc-icon data-name="window-close" data-size="xl"></bc-icon>
  </div>
  <div (click)="previousImage()" class="img-full-control img-full-control-left">
    <bc-icon data-name="arrow-left" data-size="xl"></bc-icon>
  </div>
  <img (click)="closeImage()" class="img-full-view" [src]="content" />
  <div (click)="nextImage()" class="img-full-control img-full-control-right">
    <bc-icon data-name="arrow-right" data-size="xl"></bc-icon>
  </div>
</div>
