<div class="contact-line">
    <bc-icon class="contact-icon" data-name="phone" size="s"></bc-icon>
    Telefono (Gestore): {{ getProperty("fixedPhone") }}
</div>
<div class="contact-line">
    <bc-icon class="contact-icon" data-name="mobile" size="s"></bc-icon>
    Cellulare (Gestore): {{ getProperty("mobilePhone") }}
</div>
<div class="contact-line">
    <bc-icon class="contact-icon" data-name="envelope-o" size="s"></bc-icon>
    Mail: {{ getProperty("emailAddress") }}
</div>
<div class="contact-line">
    <bc-icon class="contact-icon" data-name="mouse-pointer" size="s"></bc-icon>
    Sito Web: {{ getProperty("webAddress") }}
</div>
<div class="contact-line">
    <bc-icon class="contact-icon" data-name="calendar-check-o" size="s"></bc-icon>
    Link prenotazione: {{ getProperty("prenotation_link") }}
</div>
